<div id="footer" xmlns:n="http://nevow.com/ns/nevow/0.1"
	xmlns="http://www.w3.org/1999/xhtml" style="clear:both">
<p>Please report errors and problems to the
			<a
				><n:attr name="href">mailto:<n:invisible n:render="meta"
					>contact.email</n:invisible></n:attr>site operators</a>.
			Thanks.</p>
</div>
