<!-- a template for a DaCHS sidebar.
Use renderers from grend.GavoRenderMixin here -->
<n:invisible
	xmlns:n="http://nevow.com/ns/nevow/0.1"
	xmlns="http://www.w3.org/1999/xhtml">
<div id="sidebar">
	<div class="sidebaritem">
		<a href="/" n:render="rootlink">
			<img src="/static/img/logo_medium.png" class="silentlink sidebarlogo"
					n:render="rootlink" alt="[Operator logo]"/></a>
		<a href="#body" class="invisible">Skip Header</a></div>
	<div class="sidebaritem">
		<div class="navimainitem" onclick="followEmbeddedLink(this)">
			<a href="/static/help.shtml">Help</a></div>
		<div class="navimainitem" onclick="followEmbeddedLink(this)">
			<a><n:attr name="href" n:data="serviceURL info" n:render="string"/>
				Service info</a></div>
	<div class="sidebaritem" n:data="dcRelations" n:render="ifdata">
		<h3>DataCite Relationships</h3>
		<ul n:render="sequence" class="metaEnum">
			<li n:pattern="item" class="relationpair">
				<span class="relname" n:render="ifslot relname">
					<n:slot name="relname"/></span>
				<a><n:slot name="anchor"/>
					<n:attr name="href"><n:slot name="href"/></n:attr>
				</a>
			</li>
		</ul>
	</div>

	<div class="sidebaritem">
		<h3>Metadata</h3>
		<n:invisible title="Examples"
			n:render="explodableMeta">examplesLink</n:invisible>
		<n:invisible n:render="explodableMeta">identifier</n:invisible>
		<n:invisible n:render="explodableMeta">doi</n:invisible>
		<n:invisible title="Cite this"
			n:render="explodableMeta">howtociteLink</n:invisible>
		<n:invisible title="News" n:render="explodableMeta">_news</n:invisible>
		<n:invisible n:render="explodableMeta">description</n:invisible>
		<n:invisible title="Keywords" n:render="explodableMeta">subject</n:invisible>
		<n:invisible title="Related" n:render="explodableMeta">_related</n:invisible>
		<n:invisible n:render="explodableMeta">creator</n:invisible>
		<n:invisible title="Created" n:render="explodableMeta">creationDate</n:invisible>
		<n:invisible title="Data updated" n:render="explodableMeta">_dataUpdated</n:invisible>
		<n:invisible title="Metadata updated" n:render="explodableMeta">_metadataUpdated</n:invisible>
		<n:invisible title="Version" n:render="explodableMeta">version</n:invisible>
		<n:invisible n:render="explodableMeta">rights</n:invisible>
		<n:invisible n:render="explodableMeta">source</n:invisible>
		<n:invisible title="Reference URL" n:render="explodableMeta">referenceURL</n:invisible></div>

	<n:invisible n:render="metahtml">_sidebarlocal</n:invisible>

	<div class="sidebarmicro">
		<p n:render="authinfo"/></div>
	<n:invisible n:render="ifadmin"><hr/>
	<a>
		<n:attr name="href" n:render="rootlink">/seffe/<n:invisible n:data="rdId" n:render="string"/></n:attr>
					Admin me</a></n:invisible></div>
</div>
</n:invisible>
